{
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "env": {
    "test": {
      "presets": [
        [ "@babel/env", {
          "targets": { "node": "current" }
        }]
      ]
    }
  },
}
